@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

header {
    background-color: orange;
    font-size: 3rem;
}

header p {
    height: 4rem;
    margin: 0;
    color: whitesmoke;
    padding: 1rem 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}

.note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note {
    margin: 1rem;
    padding: 1rem;
    height: auto;
    width: 15rem;
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 1rem gray;
}