@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

header {
    position: relative;
    background-color: orange;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

header button {
    margin: 0 5rem;
    height: 2rem;
}

header #count {
    color: whitesmoke;
    text-align: center;
    width: 5rem;
    margin: 0 5rem;
}

header #time {
    font-size: 2rem;
    color: whitesmoke;
    position: absolute;
    right: 0;
    margin: 0 5rem;
}

header p {
    height: 4rem;
    margin: 0;
    color: whitesmoke;
    padding: 1rem 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: whitesmoke;
    color: gray;
    width: 100%;
    text-align: center;
}

.note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow-x: scroll;
}

.note {
    margin: 1rem;
    padding: 1rem;
    height: auto;
    width: 15rem;
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 1rem gray;
    transition: height 0.ease;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: "Rubik", sans-serif;
    margin: 1rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 0.2rem;
    color: gray;
}