html {
  height: 100%;
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  height: 5rem;
  width: auto;
  background-color: orange;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
}

footer {
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #ccc;
}

.appName {
  color: whitesmoke;
  padding-left: 3rem;
}

.noteContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.note {
  margin: 1rem;
  padding: 0rem 1rem;
  height: auto;
  width: 15rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px #ccc;
}

.note h3 {
  font-weight: 500;
}